.outer {
    width: 1365x;
    color: black;
    background-color: CornflowerBlue ;
    border: 2px solid darkblue;
    padding: 5px;
    text-align: center
 }
 .drop-area {
	float: left;
	width: 75%;
	height:490px;
	padding: 5px;
	text-align: center;
	border: 2px solid black;
}
 
 .container{
	width: 100%;
	padding-right: 1px;
    padding-left: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
  }
 
 .tool-box {
	float: left;
	width: 25%;
	height:490px;
	padding: 1%;
	text-align: center;
	border: 2px solid black;
}

.circle {
	width: 70px;
	height: 70px;
	background:green;
	border-radius: 40px;
	border:2px solid black;
	border-style:solid;
	padding:4px 3px 1px 3px;
	position:relative;
}

.square {
	width: 70px;
	height: 70px;
	background: green;
	border:2px solid black;
	border-style:solid;
	padding:4px 3px 1px 3px;
	position:relative;
}

.rectangle {
	width: 70px;
	height: 35px;
	background:green;
	border:2px solid black;
	border-style:solid;
	padding:4px 3px 1px 3px;
	position:relative;
}

.rectangleCoral {
	width: 70px;
	height: 35px;
	background:green;
	border:2px solid black;
	border-style:solid;
	padding:4px 3px 1px 3px;
	position:relative;
}

.oval {
	width: 80px;
	height: 40px;
	background:green;
	border-radius: 100px / 50px;
	border:2px solid black;
	border-style:solid;
	padding:4px 3px 1px 3px;
	position:relative;
}

.ovalMagenta {
	width: 80px;
	height: 40px;
	background:green;
	border-radius: 100px / 50px;
	border:2px solid black;
	border-style:solid;
	padding:4px 3px 1px 3px;
	position:relative;
}

.helpButton {
	display:inline-block;
	margin-left:2px;
	margin-top:0px;
	width:24px;
    height:24px;
    border-radius: 50%;
    text-align:center;
    background: white;
	text-align:center;
    position:absolute;
    padding:0px 0px 0px 0px;
    cursor:help;
}

.helpFormButton {
	display:inline-block;
	margin-left: 0px;
	margin-top:0px;
	width:20px;
	border-radius: 50%;
	display:inline-block;
    height:20px;
	background: white;
	text-align:center;
    position:relative;
    padding:0px 0px 0px 0px;
    cursor:help;
}

.connectorEndPoint
{
opacity : 0.2;
}

.deleteNode
{
background:red;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.panel-heading {
    cursor: pointer;
}
 
#row > div {
    display: inline-block;
}

#row > div + div {
	display: inline-block;
    margin-left: 50px
}

.btn-primary:disabled {
	background-color:lightgrey;
	color:white;
}
