.outer {
    width: 1365x;
    color: black;
    background-color: CornflowerBlue ;
    border: 2px solid darkblue;
    padding: 5px;
    text-align: center
 }
 .drop-area {
	float: left;
	width: 75%;
	height:550px;
	padding: 1%;
	border: 2px solid black;
}
 
 .tool-box {
	float: left;
	width: 25%;
	height:550px;
	padding: 1%;
	text-align: center;
	border: 2px solid black;
}

.circle {
	width: 80px;
	height: 80px;
	background: teal;
	border-radius: 40px;
	border:2px solid black;
	border-style:solid;
	padding:4px 3px 1px 3px;
	position:relative;
}


#square {
	width: 80px;
	height: 80px;
	background: teal;
	border:0.15em solid black;
	border-style:inset;
	padding:4px 3px 1px 3px;
	position:relative;
}

#rectangle {
	width: 80px;
	height: 40px;
	background: teal;
	border:0.15em solid black;
	border-style:inset;
	padding:4px 3px 1px 3px;
	position:relative;
}

#oval {
	width: 100px;
	height: 50px;
	background: teal;
	border-radius: 100px / 50px;
	border:0.15em solid black;
	border-style:inset;
	padding:4px 3px 1px 3px;
	position:relative;
}