#circle {
	width: 80px;
	height: 80px;
	background: teal;
	border-radius: 40px;
	border:0.15em solid black;
	border-style:inset;
	padding:4px 3px 1px 3px;
	position:relative;
}

#square {
	width: 80px;
	height: 80px;
	background: teal;
	border:0.15em solid black;
	border-style:inset;
	padding:4px 3px 1px 3px;
	position:relative;
}

#rectangle {
	width: 80px;
	height: 40px;
	background: teal;
	border:0.15em solid black;
	border-style:inset;
	padding:4px 3px 1px 3px;
	position:relative;
}

#oval {
	width: 100px;
	height: 50px;
	background: teal;
	border-radius: 100px / 50px;
	border:0.15em solid black;
	border-style:inset;
	padding:4px 3px 1px 3px;
	position:relative;
}

.arrow {
    width:120px;
   
    
}

.line {
    width:90px;
    background:teal;
    height:35px;
    float:left;
    border:0.15em solid black;
	border-style:inset;
}
.point {    
    width: 0;
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 30px solid teal;
    float:right;
    
}

#gallery {
	float: left;
	width: 30%;
	min-height: 12em;
}

.gallery.custom-state-active {
	background: #eee;
}

.gallery li {
	float: left;
	width: 96px;
	padding: 0.4em;
	margin: 0 0.4em 0.4em 0;
	text-align: center;
}

.gallery li h5 {
	margin: 0 0 0.4em;
	cursor: move;
}

.gallery li a {
	float: left;
}

.gallery li a.ui-icon-zoomin {
	float: left;
}

.gallery li img {
	width: 100%;
	cursor: move;
}

#trash {
	float: left;
	width: 70%;
	min-height: 40em;
	padding: 1%;
}

#trash h4 {
	line-height: 40px;
	margin: 0 0 0.4em;
}

#trash h4 .ui-icon {
	float: left;
}

#trash .gallery h5 {
	display: none;
}

body {
	font-size: 62.5%;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

table {
	font-size: 1em;
}

.demo-description {
	clear: both;
	padding: 12px;
	font-size: 1.3em;
	line-height: 1.4em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

.outer {
    width: 1365x;
    color: black;
    background-color: CornflowerBlue ;
    border: 2px solid darkblue;
    padding: 5px;
 }